<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contas</title>
    <link rel="stylesheet" href="/css/stylesConta.css">
</head>
<body>
    <div class="header">
        <h1>Lista de Contas do Usuário</h1>
    </div>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>
    
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Data de Vencimento</th>
                    <th>Numero da Parcela</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="parcela : ${listParcela}">
                    <td th:text="${parcela.datavencimento}"></td>
                    <td th:text="${parcela.numeroparcela}"></td>
                    <td th:text="${parcela.valorparcela}"></td>
                    <td>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-deletar" th:attr="onclick='if(confirm(\'Tem certeza que deseja deletar?\')) window.location=\'/contas/delete/' + ${conta.idcontas} + '/' + ${conta.idusuario.idusuario} + '\''">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/contas/listall" class="btn-voltar">Voltar</a>
    </div>

    </script>
</body>
</html>
