<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Parcelas</title>
    <link rel="stylesheet" href="/css/stylesConta.css">
</head>
<body>
    <div class="header">
        <h1>Lista de Parcelas</h1>
    </div>

    <div th:if="${successMessage}" class="alert alert-success">
        <p th:text="${successMessage}"></p>
    </div>
    
    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>

    <div class="container">
        <!-- Botão para criar nova parcela -->
        <div class="buttons">
            <a href="/parcela/form">
                <button class="btn-criar">Criar Nova Parcela</button>
            </a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Data de Vencimento</th>
                    <th>Número da Parcela</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="parcela : ${listParcela}">
                    <td th:text="${parcela.parceladatavencimento}"></td>
                    <td th:text="${parcela.numeroparcela}"></td>
                    <td th:text="${parcela.valorparcela}"></td>
                    <td>
                        <button class="btn-editar" th:onclick="|window.location.href='/parcela/form/' + ${parcela.idparcela}|">
                            Editar
                        </button>
                        <button class="btn-deletar" 
                            th:attr="onclick='if(confirm(\'Tem certeza que deseja deletar?\')) window.location=\'/parcela/delete/' + ${parcela.idparcela} + '\''">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/usuario/listall" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>