<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/css/stylesUsuario.css">
</head>
<body>
    <div class="header">
        <h1>Lista de Usuários</h1>
    </div>

    <div th:if="${erroDelete}" class="alert alert-danger">
        <p th:text="${erroDelete}"></p>
    </div>
    
    <div th:if="${deleteUsuario}" class="alert alert-success">
        <p th:text="${deleteUsuario}"></p>
    </div>
    

    <div class="container">
        <div class="buttons">
            <button class="btn blue">Adicionar Novo Usuário</button>
            <button class="btn blue">Pesquisar Usuário</button>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Bairro</th>
                    <th>Rua</th>
                    <th>Número</th>
                    <th>CEP</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${listaUsuario}">
                    <td th:text="${usuario.nome}"></td>
                    <td th:text="${usuario.cpf}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.login}"></td>
                    <td th:text="${usuario.estado}"></td>
                    <td th:text="${usuario.cidade}"></td>
                    <td th:text="${usuario.bairro}"></td>
                    <td th:text="${usuario.rua}"></td>
                    <td th:text="${usuario.numero}"></td>
                    <td th:text="${usuario.cep}"></td>
                    <td class="acoes-btn">
                        <button class="btn-visualizar" th:onclick="|window.location='@{/usuario/view/{id}(id=${usuario.idusuario})}'|">
                            Visualizar</button>
                        <button class="btn-editar">Editar</button>
                        <button class="btn-deletar" th:onclick="|if(confirm('Tem certeza que deseja deletar?')) window.location='@{/usuario/delete/{id}(id=${usuario.idusuario})}'|">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
    
</body>
</html>
